* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2,
h3 p {
  color: #612406;
}

article {
  display: flex;
  flex-direction: row;
  background-color: antiquewhite;
  padding: 2rem;
  justify-content: space-between;
  width: 80%;
}

.text {
  padding: 1.5rem;
}
