* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h3,
p,
li {
  color: #612406;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  align-items: center;
  background-color: antiquewhite;
  border-radius: 70px;
  width: 80%;
}
ul li {
  background-color: #f3df85;
  padding: 1rem;
  margin: 2rem;
  border-radius: 50px;
}

.shop-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.2rem;
  width: 10rem;
}

img {
  width: 30px;
}
